.second-footer {
  width: 100%;
  padding: 5vh 0;
  height: 280px;
  text-align: center;
}


.second-footer-logo {
  width: 45vh;
  vertical-align: bottom;
}
.second-footer-text-wrap{
  display: flex;
  justify-content: center;
}
.second-footer-text{
  padding: 0px 20px;
}