.field{
  font-size: 22px;

  .text_field{
    color: slategray;
    height: 22px;
    width: 150px;
  }
  .select-box{
    color: slategray;
    height: 22px;
    width: 150px;
  }
  .form__text{
    height: 80px;
    width: 800px;
  }
}

.indispensable{
  color: red;
  font-size: 15px;
}