.contents{
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .content {
    border: solid hsl(208, 11%, 77%) 2px;
    width: 45vw;
    padding: 0 10px;
    margin: 10px;
    box-sizing: border-box;
    &_header {
      display: flex;
      align-items: center;
      padding: 15px 0;
      .user_icon {
        img {
          width: 50px;
          border-radius: 50%;
          border: 1px solid #51515196;
        }
      }
      .username {
        padding-left: 15px;
        width: 75%;
      }
      .show {
        color: gray;
        img {
          width: 30px;
        }
      }
    }
    &_footer {
      padding: 15px 0;
      .ramen_info {
        display: flex;
        justify-content: space-between;
        .footer-text {
          padding-bottom: 3px;
          position: relative;
          &::before {
            position: absolute;
            bottom: -238px;
            left: -5px;
            width: 20px;
            transform: scale(0.04);
            opacity: 0.5;
            filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
          }
          &:nth-child(1)::before {
            content: url(../img/noodles.png);
          }
          &:nth-child(2)::before {
            content: url(../img/shop.png);
          }
          &:nth-child(3)::before {
            content: url(../img/map-spot.png);
          }
          img {
            width: 20px;
             transform: scale(1);
            padding-right: 10px;
          }
          p {
            display: inline-block;
            padding-left: 35px;
          }
        }
      }
      .show_path {
        text-align: right;
        color: gray;
      }
    }
  }
}

.post_btn {
    width: 200px;
    text-align: center;
    bottom: 40px;
    right: 40px;
    position: fixed;
    padding: 15px;
}