.main{
  border: solid hsl(208, 11%, 77%) 1px;
  margin: 20px 500px;
  padding: 10px;
 height: calc(100% - 200px - 320px);
}


.page-heading{
  padding: 30px;
  font-size: 50px;
  text-align: center;
}